body {
  color: #40514E;
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 40px auto 55px auto;
  font-family: 'Charmonman', cursive;
  line-height: 30px;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  font-family: 'Crimson Text', serif;
  line-height: 1.5;
  font-size: 1.05rem;
  font-weight: normal;
}

h1+p {
  font-size: 1.25rem;
}

hr {
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  border-width: 6px;
  color: #bbdada;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

a:hover {
  color: #EAF6F6;
}

a:active {
  color: #635e9b;
}

.h1, .h2 {
  color: #66BFBF;
}

.h3 {
  color: #11999e;
}

.firstparagraph {
  padding-bottom: 20px;
}

.skill-icon {
  width: 20%;
}

.headshot {
  width: 16%;
}

.mountains {
  width: 60%;
  padding-top: 10px;
}

.top-cloud {
  width: 12%;
  padding: 30px;
  position: absolute;
  top: 20px;
  right: 240px;
}

.bottom-cloud {
  width: 12%;
  position: absolute;
  top: 150px;
  left: 220px;
}

.profile {
  background-color: #EAF6F6;
  padding-top: 30px;
}

.middle-container {
  width: 100%;
  margin: 50px 0;
  background-color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 30px auto 90px auto;
}

.photography-div {
  text-align: left;
}

.photography-icon {
  float: left;
  padding-right: 40px;
}

.computer-div {
  text-align: right;
}

.computer-icon {
  float: right;
  padding: 5px 0 5px 40px;
}

.running-div {
  text-align: left;
}

.running-icon {
  float: left;
  margin-right: 40px;
}

.baking-div {
  text-align: right;
  margin-bottom: 60px;
}

.baking-icon {
  float: right;
  padding: 5px 0 5px 40px;
}

.bottom-container {
  display: inline;
  padding-top: 10px;
  background-color: #66BFBF;
}

.bottom-spacer {
  background-color: #EAF6F6;
  height: 20px;

}

.hr-1 {
  margin-top: 30px;
  padding-top: 20px;
}

.hr-2 {
  padding-bottom: 30px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #459c9c);
  background-image: -moz-linear-gradient(top, #66BFBF, #459c9c);
  background-image: -ms-linear-gradient(top, #66BFBF, #459c9c);
  background-image: -o-linear-gradient(top, #66BFBF, #459c9c);
  background-image: linear-gradient(to bottom, #66BFBF, #459c9c);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: 'Noto Sans KR', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #11999e);
  background-image: -moz-linear-gradient(top, #11999e, #11999e);
  background-image: -ms-linear-gradient(top, #11999e, #11999e);
  background-image: -o-linear-gradient(top, #11999e, #11999e);
  background-image: linear-gradient(to bottom, #11999e, #11999e);
  color: #ffffff;
  text-decoration: none;
}

.contact-me {
  width: 40%;
  margin: 30px auto 5px auto;
}

.footer {
  background-color: #66BFBF;
  padding-bottom: 5px;
  color: #EAF6F6;
}


.footer-link {
  display: inline-block;
  padding: 15px;
  color: #11999e;
  text-decoration: none;
}

.copyright {
  margin: 0 auto 10px auto;
}

.closing {
  color: #11999e;
  text-align: center;
  font-size: 11px;
  margin-bottom: 20px;
}

.closing-link {
  text-decoration: none;
  color: #11999e;
}
